.div-dropdown{
    width: 62%;
    height: 46%;    
}

.icon-sidebar{
    height: 48px;
    width: 55px;
}

.body-buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.btn-sidebar{
    width: 90%;
    border: 1px solid #d5cfcf;
    /* background-color: transparent; */
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
}

@media(min-width:768px){
    .div-dropdown{
        width: 19%;
        height: 70%;     
    }

}