header{
   display: flex;
    justify-content: space-evenly;
}

.span-exit{
   margin-left: 5px;
}


.div-name{
   display: flex;
   gap: 30px;
}

.p-name{
margin-top: 10px;
}

.div-container{

   display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

